<ion-view view-title="Account" hide-nav-bar="true">
	<style type="text/css">
			 .col_spe{text-align:center;}
	    	.row_spe{border-bottom:1px solid #ccc;}
	   	 li{list-style-type: none}
	   .content li img{float: left;width:35%;}
    .content li article{float: left;width:50%;margin-left:20px;}
	</style>
  <ion-content >
   		<div class="bar bar-header">
   			<h1 class="title">我的课程</h1>
   			<a class="button">编辑</a>
   		</div>
   		<div class="content has-header" >
   				   <!--切换按钮-->
			    <div class="row nav row_spe">
			      <div class="col col-50 col_spe"  id="lesson" ng-click="mylesson()" ng-style="color" style="border-right:1px solid #ccc">
			        我的课程<i class="icon ion-chevron-down" style="margin-left:10px;"></i>
			      </div>
			      <div class="col col-50 col_spe" id="price" ng-click="course()" ng-style="colorc">
			        收藏课程<i class="icon ion-chevron-down" style="margin-left:10px;"></i>
			      </div>
			    </div>
			    
			   <!--登录提示-->
     <div class="dl" ng-show="dl_tf" style="text-align:center; line-height: 10rem;">请<a href="#/tab/personal">登录</a></div>
			<!--我的课程-->
			<ion-list ng-show="true">
					<ion-item>
							<li>
		            <img src="img/ben.png">
		            <article>
		              <h2>java</h2>
		              <p><span>sdfsd</span>
		                <span>好的</span>
		              </p>
		            </article>
         		 </li>
         		 	 <ion-option-button class="button-calm" ng-click="doShare(item.ID)">分享</ion-option-button>
					</ion-item>
			</ion-list>
			   <!--//我的收藏-->
			 <ion-list ng-show="true">
					<ion-item>
							<li>
		            <img src="img/ben.png">
		            <article>
		              <h2>java</h2>
		              <p><span>sdfsd</span>
		                <span>好的</span>
		              </p>
		            </article>
         		 </li>
         		 	 <ion-option-button class="button-calm" ng-click="doShare(item.ID)">分享</ion-option-button>
					</ion-item>
			</ion-list>   
			    
			    
  </div>
   		
  </ion-content>
</ion-view>
