
 <ion-view view-title="Personal" hide-nav-bar=true style="background: url(img/login_bg.png) no-repeat;background-size:100% 100%; ;">
 	<style>
    .logo{width:3rem;
      height:3rem;
      margin:0 auto;}
  </style>
 	
 	<ion-content class="padding">
 		<div class="row responsive-sm">
 			
 		<div class="col">
 			<div style="height:1.5rem"></div>
 			<div class="logo"><img width="100%" height="auto" src="img/login_logo.png"/></div>
 			
 			<div class="list list-inset">
 				<label class="item item-input">
 					<input type="text" placeholder="用户名" ng-model="loginUser.name"/>
 				</label>
 				
 				<label class="item item-input">
 					<input type="password" placeholder="密码" ng-model="loginUser.password"/>
 				</label>
 			</div>
 			
 			<button class="button button-block button-positive" ng-click="doLogin()">登录</button>
 		
 		 
 		 <div class="row">
 		 	<div class="col col-50"><a href="#/tab/register">注册</a></div>
 		 	<div class="col col-50" style="text-align:right;">忘记密码</div>
 		 </div>
 			
 			</div>
 		</div>
 		
 	</ion-content>
 	
 	
 </ion-view>
