
 
  <ion-view hide-tabs="true" hide-nav-bar="true">
  	<style>
  	   .slider,.img_wrap {height:100%;width:100%;}
  	 
  	 
  	 
  	 
  	</style>
  	
  	
  
  		 <!--轮播图-->
        <ion-slide-box  auto-play="true" does-continue="true" slide-interval="2000" show-pager="true">
    	
    	<ion-slide>
    		<div class="img_wrap" style="background:url(img/13454.jpg) no-repeat; background-size:100% 100%;">
    			
    		</div>
    	</ion-slide>
    	
    	<ion-slide>
    		<div class="img_wrap" style="background:url(img/13454.jpg) no-repeat; background-size:100% 100%;">
    			
    		</div>
    	</ion-slide>
    	
    	<ion-slide style="text-align: center;">
    		<div class="img_wrap" style="background:url(img/13454.jpg) no-repeat; background-size:100% 100%;">
    			     <div style="height: 10rem;"></div>
					<button class="button"  ng-click="goIndex()">进入主页</button>
		
    		</div>
    	</ion-slide>
    </ion-slide-box>
  		

  	
  	
  	
  </ion-view>